<div class="card">
  <div class="card-header bg-primary">
    Cancel a Ride
  </div>
  <div class="card-body">
    <p>
        At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.
    </p>

    <div class="col-md-12">
        <div class="button-actions">
            <button class="btn btn-primary" (click)='showAllRide()'>Show All Rides</button>
        </div>
        <span class="text-center">
          {{message}}
         </span>
        <div class="button-actions">
            <button class="btn btn-primary" (click)='offerRide()'>Offer A Ride</button>
        </div>
    </div>
  </div>
