.card-header {
    color: #ffffff;
}
.button-actions {
    margin: 0;
    background-color: transparent;
    text-align: center;
}
.button-actions+.button-actions {
    margin-top: 30px;
}

.booked-ride-detail {
    margin-bottom: 10px;
}